body {
	background-color: white;
	align-content: center;
	margin: 0,auto;
	display: flex;
  	flex-flow: column wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;s
}

#home {
  background-image: url("img/landing1.jpg")!important;
  background-repeat: no-repeat!important;
  background-size: cover;
  height:100vh;
  width: 100%;
  padding:0;
  margin:0;
}

#countdown {
  position: relative;
  width: 100%;
  font-size: 7em;
  margin: 0;
  color: #F4B400;/*#0F9D58;*/
  text-align: center;
}

#countdown1 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);/*#0F9D58; 15, 157, 88*/
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 80px;
  margin-left: 23%!important;
  margin-top: 20%!important;
  width: 60%;
  margin: 0;
}

.a{
	text-decoration: none;
	color: black;
}

.a:hover{
	text-decoration: none;
	color: #A70B0B;
}

.barOnTop {
  font-weight: bold!important;
  transition: transform 1.8s ease-out;
  color: white!important;
}

.dropdown-item {
  color: white!important;
}

.dropdown-item:hover {
  color: #44DAD2!important;
  background: black!important;
}

.dropdown-menu{
  background-color: black!important; 
}

.header_color {
  background-color: rgba(255,255,255, 0.8)!important;
  position: fixed;
}

#navbarf {
  position: fixed;
  width: 100vw;
  border: none;
}

.navbar-toggler-icon {
  color: white!important;
}

.img {
	border-radius: 50%;
	width: 15em!important;
	height: auto;
	object-fit: cover;
  object-position: center center;
	margin-bottom: 2em;
	margin-top: 3em;
}

.img_description_l {
  height: auto; 
  width: 25em; 
  margin-top: 3em;
}

.img_description {
  height: auto; 
  width: 25em; 
  margin-top: 3em;
  margin-left: 5em;
}

.logoDSC{
  height: 2em;
  width: auto;
}

.photo_img {
  height: 10em!important;
  width: auto;
}

.languages {
  margin: 5em!important;
}

.logo_languages {
  height: 4em;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo_languages:hover {
  height: 4.1em;
  width: auto;
}

.contact_logo {
  margin-top: 5em;
  height: 4em;
  width: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact_logo:hover {
  height: 4.1em;
  width: 4.1em;
}

.header {
	top: 8vh;
	height: 100%;
	border-color: #A70B0B;
	border-bottom-width: 2em;
}

.side {
	background-color: #F9F9F9;
}

.side:hover {
	background-color: #8B8B8B;/*B5B5B5;*/
}

.middle {
	background-color: white;
}

.middle:hover {
	background-color: #C8C8C8;/*F0F0F0;*/
}

.footer-bottom {
  background-color: #F9F9F9;
}

.card {
  min-height: 30em;
	height: 100%;
	border-radius: 0px;
	font-family: 'Patua One', cursive;
	font-size: 1.2em;s
	text-align: center!important;
}

.card_link{
  position:  absolute;
  text-align: center!important;
  bottom: 0;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.description {
	height: 100%;
	width: auto;
	font-size: 1em!important;
	font-family: 'Exo', sans-serif;
	color: black;
  margin: 1.5em;
  text-align: justify; 
}

.footer-font {
  font-family: 'Satisfy', cursive;
  height: 5em!important;
  text-align: center;
  font-size: 1em;
}

.title {
	color: black;
	font-size: 3em!important;
	font-family: 'Exo', sans-serif;
	text-align: center!important;
	font-weight: bold;
  margin: 10px;
}

.logo {
	width: 35px!important;
	height: auto;
	margin: 5px;
	align-content: end;
	float: right;
	position: fixed;
	overflow:  hidden;
}

.card_logo {
  border-radius: 50%;
  width: 5em!important;
  height: auto;
  object-fit: cover;
  object-position: center center; 
}
.card_logo_p{
  width: 80%!important;
  height: auto;
  object-fit: cover;
  object-position: center center;
  margin-top: 1em!important; 
}

.card_logo:hover {
	width: 4.2em;
}
/**navbar**/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  font-family: 'Exo', sans-serif;
  min-height: 8vh;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  justify-items: right;
  align-items: center;
  width: 50%; 
}

.nav-links li {
  list-style: none;
  border: none;
}

.nav-links a {
  color: black;
  text-decoration: none!important;
  letter-spacing: 2px;
  font-size: 15px;
}

/**Line effect**/
.nav-links li:before {
  content: '';
  width: 0px;
  position: absolute;
  border-bottom: 2px solid #A70B0B;
  transition: 0.5s all;
  top: 36px;
}

.nav_l_green:hover {
  color: #0F9D58 !important;
}

.nav_l_blue:hover {
  color: #4285F4 !important;
}

.nav_l_yellow:hover {
  color: #F4B400 !important;
}

.nav-links a:hover {
  color: #DB4437; /**#A70B0B; green;*/
}

.nav-links li:hover:before {
  top: 35px;
  width: 80px;
  background-color: green;
  align-items: left;
}

.burger {
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black!important;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger:hover {
	color: #A70B0B;
}



@media screen and (max-width: 1340px){
  #countdown {
    font-size: 5em; 
  }
}

@media screen and (max-width: 1024px){
  .nav-links {
    width: 60%; 
  }
}

@media screen and (max-width: 940px){
  #countdown {
    font-size: 3em; 
  }
}

@media screen and (max-width: 768px){
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 999;
  }

  .card {
    min-height: 15em;
  }

  @media screen and (max-width: 576px){
    .languages {
      margin: 0em!important;
    }

    #countdown {
      font-size: 1.5em; 
    }
  }

  @media screen and (max-width: 300px){
    #countdown {
      font-size: 1.2em; 
    }
    #countdown1 {
      margin-top: 30%!important; 
    }
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav_active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }to {
    opacity: 100;
    transform: translateX(0px);
  }
}

.toggle .lin1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .lin2 {
  opacity: 0;
}

.toggle .lin3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

.title-description {
  font-size: 2em;
}

@media only screen and (max-width: 1180px ){
  .img_description {
    height: auto; 
    width: 20em!important; 
    margin-top: 4.5em;
    margin-left: 4.5em;
  }
}

@media only screen and (max-width: 830px) {
  #home {
    height: 80vh;
  }
}


@media only screen and (max-width: 766px ){
  .img_description_l {
    width: 100%!important; 
    height: auto;
    margin-top: 1em;
    margin-left: 4.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img_description { 
    width: 80%!important; 
    height: auto;
    margin-top: 1em;
    margin-left: 4.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 680px) {
  .title-left {
    text-align: center!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 2em!important;
  }

  .description {
    font-size: 0.8em!important;
  }

  .card_logo_p {
    width: 80%!important;
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  #home {
    height: 50vh;
  }
}

@media only screen and (max-width: 500px) {
  #home {
    height: 40vh;
  }
}

@media only screen and (max-width: 250px) {
  #home {
    height: 30vh;
  }
}